.project
*.sublime-project
*.sublime-workspace
*.tmproj
*.bak
*.swp
*~.nib
downloader/.cache
downloader/cache.cfg
downloader/connect.cfg
var/cache
var/session
var/locks
var/package
var/importexport
var/log
var/report
var/resource_config.json
media/catalog/product/cache
*.DS_Store
.htaccess
media/js
media/css