/* ==================== Improved One Page Checkout with progressbar  ===================== */
.block-progress .block-title {
  background:none;
  margin:0 0 34px;
  padding:0;
}
.checkout-onepage-index .col-main {
  padding:0;
  border:0;
}
.checkout-onepage-index .page-title {
  padding-right:40px;
  width:auto;
}
.checkout-onepage-index .page-title h1 {
  background:none;
  padding:0;
}

/*.opc {
 position:relative;
  overflow:hidden;
  height:970px;
  padding-top:20px;
  text-align:center;
  border:1px solid #BBAFA0;
  background:#F9F3E3;
  } */
  .opc .buttons-set {
   background: #F0F0F0;
   background: -moz-linear-gradient(top, #F0F0F0 0%, #D5D5D5 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F0F0F0), color-stop(100%,#D5D5D5));
   background: -webkit-linear-gradient(top, #F0F0F0 0%,#D5D5D5 100%);
   background: -o-linear-gradient(top, #d1d1d1 0%,#D5D5D5 100%);
   background: -ms-linear-gradient(top, #F0F0F0 0%,#D5D5D5 100%);

   height: 97px;
   background: linear-gradient(to bottom, #F0F0F0 0%,#D5D5D5 100%);

   margin: 10px 0 0;
   opacity:1!important;


   bottom: 22px;
   left: 229px;
   right: 20px;
   padding: 14px 24px;
   border: 1px solid #DFDFDF;
   box-shadow: 0px 2px 4px rgba(0,0,0,0.2);

   width: 100%;
 }
 .opc .buttons-set p.required {
   margin:0;
   padding:0 0 10px;
 }
 .opc .buttons-set .back-link {
   display:none;
 }
 .opc .buttons-set .please-wait {
   position:absolute;
   z-index:99;
   top:30%;
   left:50%;
   margin:-80px 0 0 -146px;
   border:5px solid #f3b66f;
   font-size:12px;
   background:#fff;
   padding:30px;
   white-space:nowrap;
   border:1px solid #c0c0c0;
   -moz-border-radius:6px;
   -webkit-border-radius:6px;
   border-radius:6px;
   -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
   -webkit-box-shadow:0 0 50px rgba(0,0,0,0.2);
   box-shadow:0 0 50px rgba(0,0,0,0.2);
 }
 .opc .buttons-set a {
   color:#214D90;
 }
 .opc .ul {
   list-style:disc outside;
   padding-left:18px;
 }
 .opc-header li.section {
   display:inline;
 }
 .opc-header .step-title,.opc .allow .step-title {
   border-color:#FBFAF6;
 }
 .opc .step {
   background: #f7f7f7; /* Old browsers */
   background: -moz-linear-gradient(top,  #f7f7f7 0%, #efefef 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#efefef)); /* Chrome,Safari4+ */ 
   background: -webkit-linear-gradient(top,  #f7f7f7 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #f7f7f7 0%,#efefef 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #f7f7f7 0%,#efefef 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #f7f7f7 0%,#efefef 100%); /* W3C */
   
   padding: 0;
   position:absolute;
   border:0;
   left:0;
   z-index:1;
   width:605px;
   height:900px;
   border-bottom:1px dotted #ccc;
   border:none;
   width:643px;
   text-align:left;
   border-top:1px solid #BBAFA0;
 }
 .opc-header .step-title .number,.opc-header .allow .step-title .number,.opc-header .active .step-title .number {
   float:none;
   display:block;
   margin:0 auto;
   margin-bottom:10px;
 }
 .opc-header .step-title a {
   display:none;
 }
 .opc-header .step-title .number {
   background:#fff;
   color:#ccc;
   width:30px;
   height:30px;
   line-height:30px;
   -moz-border-radius:20px;
   -webkit-border-radius:20px;
   border-radius:20px;
   margin-bottom:10px;
   padding:0;
   border:0;
   position:relative;
   z-index:1;
 }
 .opc-header .step-title h2 {
   font-size:12px;
   color: #777777;
   clear:both;
   margin-bottom:10px;
   text-shadow: 0px -1px rgba(255,255,255,.4);
 }
  /*.opc-header .allow .step-title .number {
    background:#000;
    border-color:#fff;
    color:#fff;
    }*/
    .opc-header .allow .step-title h2 {
     color:#000;
   }
   .opc-header .active .step-title .number {
     background:#000;
     border-color:#fff;
     color:#fff;
   }
   .opc-header .active .step-title h2 {
     color:#000;
   }
   .opc .step-title,.opc .allow .step-title,.opc .active .step-title {
     position:relative;
     text-align:center;
     border:none;
     background:none;
     padding:0;
     overflow:hidden!important;
     height: 102px;
     display: inline-block;
     vertical-align:top;
     border-right: 1px solid rgb(160, 160, 160);
     padding-top: 21px;
     border-left: 1px solid rgb(247, 247, 247);

     display: none;
     z-index: 99999;
   }
   .opc-header .step-title,.opc-header .allow .step-title,.opc-header .active .step-title {
     display:block;
     /*float:left;*/
   } 
   .opc-header .step-title h2,.opc-header .allow .step-title h2,.opc-header .active .step-title h2 {
     width:100%;
     text-align:center;
   }
   .opc .step-title {
     width: 25.104%;
     margin-left: -4px;
   }
   .opc .form-list .field,.opc .form-list .wide {

   }
   .opc .form-list li fieldset {
     margin-bottom:40px;
   }
   .opc .form-list label {
     float:left;
     width:220px;
     text-align:left;
     padding:4px 0 0;
   }
   .opc .form-list label.required em {
     float:none;
     position:relative;
     right:4px;
   }
   .opc .form-list li.fields {
     margin: 0;

   }
   .opc .form-list div.fields {
     width:100%;
     overflow:hidden;
     margin:0 0 8px;
   }
   .opc .form-list .wide,.opc .form-list li.fields .field {
     margin: 10px 0px;
   }
   .opc .form-list li.wide .input-box,.opc .form-list .input-box {
     clear:none;
     float:right;
     width:260px;
   }
   .opc .form-list li.wide select {
     width:390px;
   }
   .opc .form-list li.wide input.input-text {
     width:254px;
   }
   .opc .form-list .control input {
     margin:8px 0 0 25px;
   }
   .opc .form-list li.control label {
     float:left;
   }
   .opc form .form-list li.wide {
     margin-bottom: 10px;
   }
   .opc form .address-select {
     margin:8px 0 40px;
   }

   .opc:first-of-type .step{
     -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
     -o-transition: all 0.5s ease-in-out;
     -webkit-transition: all 0.5s ease-in-out;
     transition: all 0.5s ease-in-out;
   }
   
   .opc:first-of-type .section .step{
     left: 100%;
   }
   .opc:first-of-type .allow .step{
     left: -100%;
   }
   .opc:first-of-type .active .step{
     left:0;
   }
   .opc:first-of-type li:last-child .step-title a{
     width:50%
   }
   .opc:first-of-type li:first-child .step-title a{
     width:50%;
     left:50%
   }
   .opc:first-of-type .step-title a {
     display:block;
     height:1px;
     border-bottom: none;
     width:100%;
     text-indent:-3000px;
     position: absolute;
     top:15px;
     z-index: 0
     ;
   }
   .opc:first-of-type .allow .step-title a {

   }

   #opc-login p.required {
     display:none;
   }
   #opc-login h3 {
     margin-bottom:18px;
   }
   #opc-login .col-2 {
     float:left;
   }
   #opc-login .col-2 form fieldset h4 {
     display:none;
   }
   #opc-login .col-2 {
     display:block;
     width:300px;
   }
   #opc-login .col-2 fieldset {
     width:300px;
   }
   #opc-login .col-2 .input-box {
     width:188px;
     margin:0;
     float:left;
   }
   #opc-login .col-2 .input-text {
     width:182px;
   }
   #opc-login .col-2 .form-list label {
     text-align:left;
   }
   #opc-login .col-2 .form-list label {
     width:110px;
   }
   #opc-login .form-list li.control label {
     float:none;
   }
   #opc-login .form-list li.control input {
     margin:0 8px 0 0;
   }
   #opc-login .col-1 {
     float:right;
   }
   #opc-login .col-1 {
     width:290px;
   }
   #opc-login .col-1 h4,#opc-login .col-1 .ul {
     display:none;
   }

   #checkout-step-review.step {
     width:645px;
   }
   #opc-review .step {
     padding:30px 20px;
     border-top:1px solid #BBAFA0;
   }
   #opc-review .product-name {
     font-weight:bold;
     color:#0a263c;
   }
   #opc-review .item-options {
     margin:5px 0 0;
   }
   #opc-review .buttons-set {
     padding:20px 0;
     border:0;
   }
   #opc-review .buttons-set p {
     margin:0;
     line-height:40px;
   }
   #opc-review .buttons-set .please-wait {
     height:40px;
     line-height:40px;
   }
   #opc-shipping_method .buttons-set {
     border-top:1px solid #E4E4E4;
   }
   /*Modification by Ewall*/
   .opc:first-of-type .active .step {
     left: 0;
     width: 100%;

     overflow: visible;
     height: 100%;
   }
   #checkout-step-review.step {
     width: 100%;
     padding: 0px !important;
   }
   .opc {
     background: #d6d6d6;
     /* Old browsers */
     background: -moz-linear-gradient(top,  #d6d6d6 0%, #bfbfbf 20%, #bfbfbf 100%);
     /* FF3.6+ */
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6d6d6), color-stop(20%,#bfbfbf), color-stop(100%,#bfbfbf));
     /* Chrome,Safari4+ */
     background: -webkit-linear-gradient(top,  #d6d6d6 0%,#bfbfbf 20%,#bfbfbf 100%);
     /* Chrome10+,Safari5.1+ */
     background: -o-linear-gradient(top,  #d6d6d6 0%,#bfbfbf 20%,#bfbfbf 100%);
     /* Opera 11.10+ */
     background: -ms-linear-gradient(top,  #d6d6d6 0%,#bfbfbf 20%,#bfbfbf 100%);
     /* IE10+ */
     background: linear-gradient(to bottom,  #d6d6d6 0%,#bfbfbf 20%,#bfbfbf 100%);
     /* W3C */
     
     /* IE6-9 */
     border: 1px solid rgb(211, 211, 211);

     padding-top: 0;

     position: relative;
     text-align: left;


     border-top: none;
     height: 100%;
     border-bottom: none;

     overflow: visible;
   }
   .opc ul.form-list {
     padding: 15px 20px;
   }
   .opc fieldset {
     max-width: 100%;
   }
   /* Specific steps */
   #opc-billing > .step-title {
     text-align: center;
   }
   #opc-shipping > .step-title {
     text-align: center;
   }
   #opc-payment > .step-title {
     text-align: center;
   }
   #opc-review > .step-title {
     text-align: center;
   }
   #checkoutSteps-header {
     background: #F0F0F0; /* Old browsers */

     background: -moz-linear-gradient(top,  #F0F0F0 0%, #D5D5D5 100%); /* FF3.6+ */

     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F0F0F0), color-stop(100%,#D5D5D5)); /* Chrome,Safari4+ */

     background: -webkit-linear-gradient(top,  #F0F0F0 0%,#D5D5D5 100%); /* Chrome10+,Safari5.1+ */

     background: -o-linear-gradient(top,  #d1d1d1 0%,#D5D5D5 100%); /* Opera 11.10+ */

     background: -ms-linear-gradient(top,  #F0F0F0 0%,#D5D5D5 100%); /* IE10+ */

     background: linear-gradient(to bottom,  #F0F0F0 0%,#D5D5D5 100%); /* W3C */

     
     padding-top:0px;
     box-sizing:border-box;
     -mox-box-sizing: border-box;

     height: 108px;

     vertical-align:middle;
     border-top: 1px solid #E6E6E6;
     border-bottom: 1px solid #DFDFDF;
     box-shadow: inset 0px -1px 15px rgba(255,255,255,.3), 0px 1px 2px rgba(0,0,0,.3);
     text-align: center;
     position: relative;
     width: 100%;
     height: 90px;
     z-index: 9999;
     overflow:hidden;
   }
   #checkoutSteps-header .section {
     display: inline-block;
     width: 24.8%;
     text-align:center;
     border-left: 1px solid #F8F8F8;
     border-right: 1px solid #C2C2C2;
     height: 89px;
     box-sizing: border-box;
     padding-top: 15px;
     box-shadow: inset 0px 0px 25px rgba(255,255,255,.3);
     float: left;
     cursor:pointer;
   }
   #checkoutSteps-header .section:first-child {
     border-left: none;
   }
   #checkoutSteps-header .section:last-child {
     border-right:none;
   }
   #checkoutSteps-header .section .step-title {
     position:relative;
     text-align:center;
     background:none;
     padding:0;

     display: inline-block;
     z-index: 99999;
   }

   body.checkout-onepage-index .main-container {
    padding: 35px 0px 0 0px;
  }

  #opc-wrap {
   overflow: visible;
   position: relative;
   right: 20px;
   left: 0px;
   top: -44px;
   border-bottom: 1px solid #CFCFCF;
   box-sizing: border-box;
   padding-top: 53px;
   margin: 0 auto;
   width: 95%;
 }

 @media only screen and (max-width: 600px) {
   #opc-wrap {
    margin: 0;
    width: 100%;
  }

}


@media only screen and (max-width: 500px) {
  #opc-review .order-review .buttons-set {
    padding: 0px 14px;
    border: 0;
    margin: 0;
    height:120px;
  }
  #opc-review .buttons-set p.f-left {
    font-size:10px;

    float: le;
  }
  #review-buttons-container > span {
    font-size:10px;

    float: left;
    line-height: 1px;
  }
  .buttons-set button.button {
    float: left;
    margin-left: 0px;
    margin-top:15px;
  }
}
#checkout-review-load {
  padding-bottom: 160px;
}
.cashondelivery-instructions-content {
  height: auto;
}
#payment_form_cashondelivery {
  padding-bottom: 0;
}
.checkout-onepage-index .wrapper .main-container div.main {
  padding: 0;
}
#scroll-to-top {
  display: none !important;
}