<?xml version="1.0"?>
<!--
/**
 * Atwix
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 * @category    Atwix
 * @package     Atwix_UniversalAnalytics
 * @author      Atwix Core Team
 * @copyright   Copyright (c) 2012 Atwix (http://www.atwix.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->

<config>
    <modules>
        <Atwix_UniversalAnalytics>
            <version>2.0.0</version>
        </Atwix_UniversalAnalytics>
    </modules>
    <global>
        <blocks>
            <atwix_universalanalytics>
                <class>Atwix_UniversalAnalytics_Block</class>
            </atwix_universalanalytics>
        </blocks>
        <helpers>
            <atwix_universalanalytics>
                <class>Atwix_UniversalAnalytics_Helper</class>
            </atwix_universalanalytics>
        </helpers>
        <models>
            <atwix_universalanalytics>
                <class>Atwix_UniversalAnalytics_Model</class>
            </atwix_universalanalytics>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <atwix_universalanalytics>
                    <file>atwix/universal_analytics.xml</file>
                </atwix_universalanalytics>
            </updates>
        </layout>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <universal_analytics_order_success>
                        <class>Atwix_UniversalAnalytics_Model_Observer</class>
                        <method>setGoogleAnalyticsOnOrderSuccessPageView</method>
                    </universal_analytics_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <universal_analytics_order_success>
                        <class>Atwix_UniversalAnalytics_Model_Observer</class>
                        <method>setGoogleAnalyticsOnOrderSuccessPageView</method>
                    </universal_analytics_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
    </frontend>
    <default>
        <google>
            <u_analytics>
                <active>1</active>
            </u_analytics>
        </google>
    </default>
</config>